* {
    margin: 0;
    padding: 0;
}

.container {}

.bg {
    height: 72vh;
    box-shadow: 0px 5px 10px 2px #00000085;
}

.bg-container {
    /* background-color: #73604f; */
    display: flex;
    justify-content: center;
}

.all_doors {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.door {
    height: 22vh;
    transition: all 0.5s;
}

.door:hover {
    box-shadow: 3px 3px 10px 1px #000000bd;
    transform: scale(1.1);
}

.all-doors-container {
    display: flex;
    justify-content: center;
}

.selected-door {
    position: absolute;
    top: 3rem;
    left: 37rem;
    height: 22rem;
}