* {
    margin: 0;
    padding: 0;
}

.bg-image {
    background-image: url("./images/bg.png");
    height: 100vh;
    background-size: contain;
    width: 100%;
    background-position: top;
}

.bg {
    height: 72vh;
    box-shadow: 0px 5px 10px 2px #00000085;
}

.bg-container {
    /* background-color: #73604f; */
    display: flex;
    justify-content: center;
}

.all_doors {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.door {
    height: 22vh;
    transition: all 0.5s;
}

.door:hover {
    box-shadow: 3px 3px 10px 1px #000000bd;
    transform: scale(1.1);
}

.all-doors-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.selected-door-container {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-door {
    height: 59vh;
}

@media screen and (max-width: 320px) {
    .selected-door-container {
        height: 30vh !important;
        width: 100% !important;
    }
    .selected-door {
        height: 23vh !important;
    }
    .all-doors-container {
        position: relative !important;
        top: -26rem !important;
    }
    .all_doors {
        margin-top: 1rem !important;
        width: 100% !important;
        /* border: solid red; */
    }
    .bg-image {
        background-repeat: no-repeat !important;
    }
    .door {
        height: 15vh !important;
    }
}

@media only screen and (max-width: 375px) {
    .selected-door-container {
        height: 38vh !important;
    }
    .selected-door {
        height: 25vh !important;
    }
}

@media screen and (max-width: 768px) {
    .bg-image {
        background-repeat: no-repeat !important;
    }
    .selected-door-container {
        height: 76vh !important;
    }
    .selected-door {
        height: 51vh !important;
    }
    .all-doors-container {
        position: relative !important;
        top: -8rem !important;
    }
    .all_doors {
        width: 100% !important;
    }
    .door {
        height: 31vh !important;
    }
}

@media screen and (max-width: 1024px) {
    .all_doors {
        width: 100% !important;
    }
    .door {
        height: 40vh !important;
    }
}

@media screen and (max-width: 1440px) {
    .all_doors {
        width: 100% !important;
    }
    .door {
        height: 40vh !important;
    }
}